.footer {
    padding: 138px 0 46px 0;
    background: url('./img/footer_bg.png') center top / cover no-repeat;
    &__title {
        color: #fff;
        text-align: left;
        margin-bottom: 26px;
    }
    &__info {
        display: flex;
        gap: 46px;
        margin-bottom: 44px;
        &-block {
            font-family: 'Balsamiq Sans';
            font-weight: 700;
            font-size: 18px;
            line-height: 30px;
            color: #FFFFFF;
            &:first-child {
                min-width: 386px;
            }
            a {
                color: #0071f2;
            }
        }
    }
    &__privacy {
        font-family: 'Balsamiq Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: #FFFFFF;
    }
}