//! Шапка сайту

//? Шапка ===================================================================================================================================================================
$headerPosition: fixed;  // relative / fixed
$headerColor: linear-gradient(180deg, #E47900 0%, rgba(254, 182, 16, 0) 100%); // колір

//? Кнопки випадаючого списку ===============================================================================================================================================
$sublinkFontSize: 16px; // розмір шрифту
$sublinkColor: #fff; // колір шрифту
$sublinkMargin: 15px; // відступи між кнопками

//? Випадаючий список =======================================================================================================================================================
$sublistMinWidth: 200px; // мінімальна ширина
$sublistPadding: 15px; // внутрішній відступ 
$sublistPosition: 0; // позиціювання відносно краю кнопки меню (лівого: auto / правого: 0)

//? Бургер ==================================================================================================================================================================
$burgerWidth: 34px;
$burgerHeight: 20px;
$burgerColor: #fff; //колір

//? Панель меню (max-width: 767px) ==========================================================================================================================================
$transitionHorizontalPosition: -100%; // поява панелі меню (зверху: -100% / знизу: 100% / відміна: 0)
$transitionVerticalPosition: 0; // поява панелі меню (зліва: -100% / зправа: 100% / відміна: 0)

.header {
    position: $headerPosition;
    top: 0;
    left: 0;
    width: 100%;
    background: $headerColor;
    z-index: 10;
    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        z-index: 5;
        img {
            @media (max-width: $mobile) {
                width: 174px;
            }
        }
    }
}
.menu {
    &__list > li {
        margin: 0 25px;
        @media (max-width: $tablet) {
            margin: 0 15px;
        }
        @media (max-width: 860px) {
            margin: 0 8px;
        }
    }
    &__link {
        font-family: 'Balsamiq Sans';
        position: relative;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        white-space: nowrap;
        &::before, &::after {
            content: '';
            position: absolute;
            bottom: -3px;
            height: 2px;
            background: #fff;
            width: 0;
            transition: width 0.3s;
        }
        &::before {
            right: 50%;
        }
        &::after {
            left: 50%;
        }
    }
}

body {
    &.lock {
        overflow: hidden;
    }
    &._cursor {
        .menu {
            &__link {
                &:hover {
                    &::before, &::after {
                        width: 50%;
                    }
                }
            }
        }
    }
    &._touch {
        .menu {
            &__link {
            flex: 1 1 auto;
                &:active {
                    &::before, &::after {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (min-width: 767px) {
    .menu {
        &__list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &__list > li {
            padding: 10px 0;
        }
    }
}
@media (max-width: 767px) {
    .menu {
        &__burger {
            margin-right: 10px;
            position: relative;
            display: block;
            width: $burgerWidth;
            height: $burgerHeight;
            cursor: pointer;
            z-index: 5;
            span {
                top: 50%;
                transform: scale(1) translateY(-50%);
            }
            &::before {
                content: '';
                top: 0;
            }
            &::after {
                content: '';
                bottom: 0;
            }
            &.active {
                span{
                    transform: scale(0) translateY(-50%);
                }
                &::before {
                    top: 50%;
                    transform: rotate(-45deg) translate(5%, -20%);
                }
                &::after {
                    bottom: 50%;
                    transform: rotate(45deg) translate(5%, 20%);
                }
            }
        }
        &__body {
            padding-top: 100px;
            position: fixed;
            top: $transitionHorizontalPosition;
            left: $transitionVerticalPosition;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 169, 0, .9);
            transition: all .3s ease;
            overflow: auto;
            &.active {
                left: 0;
                top: 0;
                &::before {
                    display: block;
                }
            }
            &::before {
                display: none;
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100px;
                background-color: rgb(255, 169, 0);
                z-index: 4;
                border-bottom: 1px solid #FFFFFF;
                
            }
        }
        &__list {
            width: 100%;
        }
        &__list > li {
            width: calc(100% - 20px);
            flex-wrap: wrap;
            text-align: center;
            border-bottom: 1px solid #FFFFFF;
            &.active {
                .menu {
                    display: block;
                }
            }
        }
        &__link {
            width: 100%;
            display: block;
            padding: 30px 0;
            font-family: 'Balsamiq Sans';
            font-size: 24px;
            line-height: 29px;
        }
    }
    .menu__burger span, .menu__burger::before, .menu__burger::after {
        position: absolute;
        left: 0;
        height: 4px;
        width: 100%;
        border-radius: 5px;
        background-color: $burgerColor;
        transition: all .3s ease;
    }
}