.btn {
    width: 309px;
    height: 62px;
    border-radius: 50px;
    background: #FFFFFF;
    font-family: 'Balsamiq Sans';
    font-size: 18px;
    line-height: 22px;
    color: $yellow-color;
    filter: drop-shadow(0px 0px 20px #FF9C70);
    transition: background .3s;
    @media (max-width: 500px) {
        width: 290px;
    }
    &_2 {
        width: 350px;
        filter: drop-shadow(0px 0px 20px #FF9C70);
        background: $orange-color;
        color: #fff;
        @media (max-width: 370px) {
            width: 100%;
        }
    }
}
body {
    &._cursor {
        .btn {
            &:hover {
                background: rgba(255, 255, 255, 0.75);
            }
            &_2 {
                &:hover {
                    background: rgba(235, 98, 36, 0.75);
                }
            }
        }
    }
    &._touch {
        .btn {
            &:active {
                background: rgba(255, 255, 255, 0.75);
            }
            &_2 {
                &:active {
                    background: rgba(235, 98, 36, 0.75);
                }
            }
        }
    }
}
.title {
    width: 100%;
    font-family: 'Amatic SC';
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    color: $orange-color;
    text-align: center;
}